* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    background-image: url("../images/tuinlucht.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 70px 0;
    height: 200px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25); /* Black overlay with 50% opacity */
    z-index: 1;
}

.header h1, .header h2 {
    position: relative;
    z-index: 2;
    color: white; /* Ensure text is white for better contrast */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow for better visibility */
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(200, 230, 203);
}

.row {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: -webkit-flex;
    display: flex;
}

.column.indexleft, .column.indexright {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-size: cover;
    background-position: center;
}

.column.indexmiddle {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-size: cover;
    background-position: center;
    align-items: center; /* Align items center horizontally */
    justify-content: start; /* Align items center vertically */
}

.column.indexleft {
    background-image: url("../images/AnimeJan.jpeg");
}

.column.indexright {
    background-image: url("../images/animeBien4.jpeg");
}

.column.indexmiddle {
    background-image: url("../images/flower background.jpeg");
}

.formTitle {
    padding: 70px;
    width: 100%;
    height: 2em;
    text-emphasis: #f1f1f1;
    font-weight: bold;
    font-size: 40px;
    color: darkgreen;
    background-color: rgb(200, 230, 203);
    text-align: center;
}

form {
    color: darkgreen;
    padding-top: 0;
    margin: 0 auto;
}

.column.gastenleft {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("../images/flower background.jpeg");
    background-size: cover;
    background-position: center;
}

.column.gastenmiddle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("../images/flower background.jpeg");
    background-size: cover;
    background-position: center;
}

.column.gastenright {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("../images/flower background.jpeg");
    background-size: cover;
    background-position: center;
}

dd, dt {
    margin-left: 0;
}

dt {
    margin-top: 0.5em;
}

dd {
    font-weight: bold;
}

.fout {
    background-color: red;
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.goed {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

label {
    cursor: pointer;
}

input, button {
    display: block;
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(200, 230, 203);

}

nav ul {
    display: flex;
    background-color: rgb(200, 230, 203);
}

nav li {
    display: inline;
    flex-direction: row;
    padding: 0.5em 1em;

}

nav li a {
    color: darkgreen;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    flex-wrap: nowrap;
}

nav li a:hover {
    color: #F7FFCC;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    padding: 8px 16px;
}

button:is(:hover, :focus) {
    background-color: #3e8e41;
}

button:active {
    background-color: #3ecc41;
}

button:disabled {
    background-color: #808080;
    cursor: not-allowed;
}

table {
    width: 100%;
    margin-bottom: 1em;
    padding: 0;
}

td,
th {
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 5px 5px;
}

th {
    color: darkgreen;
    background-color: rgb(200, 230, 203);
    padding: 0.5em 1em;
}

th:nth-child(1){
    width: 44%;
}
th:nth-child(2){
    width: 44%;
}
th:nth-child(3) {
    width: 12%;
    padding-right: 0;
    margin-right: 0;
}

td {
    padding:0.2em 1em;
}

tr:nth-child(even) {
    background-color: rgb(200, 230, 203);
}

tr:nth-child(odd) {
    background-color: #FAFAFA;
}

.getal {
    text-align: right;
}

footer{
    background-color: rgb(200, 230, 203);
    text-align: center;
    font-size: 10px;
    font-weight: lighter;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 30px;
}